{% extends "base.html" %}



{% block content %}
    <div id="tag-list">
        <h2>Tagi</h2>
        {% for tag in tags %}
            <span class="tag-list-item {% if tag.name in active_tags %}tag-list-item-active{% endif %}">
                <a href="{% url questions_question_list tag=tag.name %}">
                    {{ tag.name }} - {{ tag.ref_count }}
                </a>
            </span>
        {% endfor %}
    </div>

    {% for question in questions %}
        <h1>
            {{ question.score }}
            <a href="{% url questions_question_upvote question_key=question.key %}">&uarr;</a>
            <a href="{% url questions_question_downvote question_key=question.key %}">&darr;</a>
            <a href="{% url questions_question_details question_key=question.key %}">
                {{ question.title }}
            </a>
            {% for tag in question.tags %}<a href="{% url questions_question_list tag=tag %}">{{ tag }}</a>{% if not forloop.last %},{% endif %}{% endfor %}
        </h1>
    {% endfor %}

{% endblock %}
